%div{ :class => 'span-8'}
  = img "murcia1.jpg"
  = img "murcia2.jpg"

%div{ :class => 'span-10 last'}
  %h2 Región de Murcia
  %p
    La Universidad de Murcia del tercer milenio tiene como eje central de su actividad la consecución de la excelencia académica y científca. Para ello, los rasgos distintivos de nuestra institución podrían resumirse en los siguientes puntos:

  %ul
    %li Una Universidad con responsabilidad docente, con una oferta académica adecuada, práctica y flexible.
    %li Apoyo decidido a la investigación e innovación.
    %li Una institución jóven, dinámica, pujante y aún en crecimiento. El espíritu emprendedor y renovador es el que debe impregnar por completo la Universidad de Murcia.
    %li Una Universidad comprometida socialmente.
    %li Una Universidad moderna y eficaz que aplique los métodos más avanzados de gestión e información a su actividad.
    %li Una Universidad autónoma y abierta vinculada únicamente a la creación y transmisión del conocimiento.
    %li Una Universidad con proyección internacional.


  %p
    En resumen, un paso más en nuestro objetivo final de alcanzar el máximo nivel de excelencia institucional

  %p
    Más información:
    %ul
      %li= link 'http://www.murciaturistica.es', 'http://www.murciaturistica.es'
      %li= link 'http://www.regmurcia.com/', 'http://www.regmurcia.com/'
      %li= link 'http://www.murciaciudad.com/', 'http://www.murciaciudad.com/'


