%div{ :class => 'span-18 last'}
  %h2 Restaurantes


%div{ :class => 'span-18 last'}
  %h3 Para comer

%div{ :class => 'span-3'}
  = img "hoteles/arco.gif"


%div{ :class => 'span-15 last'}
  %h3 Del Gallo Blues
  %p
    El Hotel Arco de San Juan, de 4 estrellas, está situado en el centro histórico y cultural de Murcia, en el mismo Palacio Conde de Floridablanca.

  %p
    Precio desde 65.00 €
    %br/
    Más información:
    = link 'http://www.arcosanjuan.com/', 'http://www.arcosanjuan.com/'

// ----------------------------------------------------------------

%div{ :class => 'span-3'}
  = img "hoteles/arco.gif"


%div{ :class => 'span-15 last'}
  %h3 Bodegón Los Toneles
  %p
    Los amantes del tapeo tienen un rincón reservado en este pequeño bar. En su barra se sirve un amplio surtido de raciones típicas de la cocina murciana.

  %p
    Cánovas del Castillo, 7 (MURCIA)

// ----------------------------------------------------------------

%div{ :class => 'span-3'}
  = img "hoteles/arco.gif"


%div{ :class => 'span-15 last'}
  %h3 Doña Lola
  %p
    Los amantes del tapeo tienen un rincón reservado en este pequeño bar. En su barra se sirve un amplio surtido de raciones típicas de la cocina murciana.

  %p
    Cánovas del Castillo, 7 (MURCIA)


// ----------------------------------------------------------------

%div{ :class => 'span-3'}
  = img "hoteles/arco.gif"


%div{ :class => 'span-15 last'}
  %h3 La barra de La Parranda
  %p
    Los amantes del tapeo tienen un rincón reservado en este pequeño bar. En su barra se sirve un amplio surtido de raciones típicas de la cocina murciana.

  %p
    Cánovas del Castillo, 7 (MURCIA)


// ----------------------------------------------------------------

%div{ :class => 'span-3'}
  = img "hoteles/arco.gif"


%div{ :class => 'span-15 last'}
  %h3 La Tarantella
  %p
    Los amantes del tapeo tienen un rincón reservado en este pequeño bar. En su barra se sirve un amplio surtido de raciones típicas de la cocina murciana.

  %p
    Cánovas del Castillo, 7 (MURCIA)



// ==============================

%div{ :class => 'span-18 last'}
  %h3 Noche


// ----------------------------------------------------------------

%div{ :class => 'span-3'}
  = img "hoteles/arco.gif"


%div{ :class => 'span-15 last'}
  %h3 Aduana
  %p
    Los amantes del tapeo tienen un rincón reservado en este pequeño bar. En su barra se sirve un amplio surtido de raciones típicas de la cocina murciana.

  %p
    Cánovas del Castillo, 7 (MURCIA)


// ----------------------------------------------------------------

%div{ :class => 'span-3'}
  = img "restaurantes/zalaca.gif"


%div{ :class => 'span-15 last'}
  %h3 Zalacaín
  %p
    Los amantes del tapeo tienen un rincón reservado en este pequeño bar. En su barra se sirve un amplio surtido de raciones típicas de la cocina murciana.

  %p
    Enrique Villar, 19

// ----------------------------------------------------------------

%div{ :class => 'span-3'}
  = img "hoteles/arco.gif"


%div{ :class => 'span-15 last'}
  %h3 Baraltea
  %p
    Los amantes del tapeo tienen un rincón reservado en este pequeño bar. En su barra se sirve un amplio surtido de raciones típicas de la cocina murciana.

  %p
    Bartolomé Perez Casas, 2


// ----------------------------------------------------------------

%div{ :class => 'span-3'}
  = img "restaurantes/mundaka.gif"


%div{ :class => 'span-15 last'}
  %h3 Mundaka
  %p
    Los amantes del tapeo tienen un rincón reservado en este pequeño bar. En su barra se sirve un amplio surtido de raciones típicas de la cocina murciana.

  %p
    Cánovas del Castillo, 7
    %br/
    Más información:
    %br/
    = link 'http://www.mundakaclub.com/', 'http://www.mundakaclub.com/'

// ----------------------------------------------------------------

%div{ :class => 'span-3'}
  = img "restaurantes/roneria.gif"


%div{ :class => 'span-15 last'}
  %h3 La Ronería
  %p
    Los amantes del tapeo tienen un rincón reservado en este pequeño bar. En su barra se sirve un amplio surtido de raciones típicas de la cocina murciana.

  %p
    Cánovas del Castillo, 7 (MURCIA)
