%div{ :class => 'span-18 last'}
  %h1 Colaboradores


%div{:id => 'colaborador'}
  %div{ :class => 'span-6 colaboa'}
    = img "colaboradores/logo-digio.png"

  %div{ :class => 'span-12 last'}

    %p
      =link 'DIGIO', 'http://www.digio.es'
      es una compañía que utiliza las tecnologías de la información  para ofrecer soluciones estratégicas de negocio y servicios profesionales de consultoría. También desarrollamos proyectos de innovación en Internet.


%hr/

%div{:id => 'colaborador'}
  %div{ :class => 'span-6 colaboa'}
    = img "colaboradores/logo-linux.png"

  %div{ :class => 'span-12 last'}

    %p
      = link 'Linux New Media AG', 'http://www.linux-magazine.es/'
      es el líder de mercado en el campo de los contenidos Linux en Europa, tanto impresos como en línea. Durante más de ocho años, Linux New Media ha suministrado mesualmente información útil sobre este sistema operativo. 


%hr/

%div{:id => 'colaborador'}
  %div{ :class => 'span-6 colaboa'}
    = img "colaboradores/linuxpw.png"

  %div{ :class => 'span-12 last'}

    %p
      = link 'Linux+', 'http://lpmagazine.org/es'
      es un medio muy eficaz para llegar a un grupo grande de usuarios particulares y empresas interesados en soluciones libres. Gracias a nuestra revista puedes aumentar el número de los clientes de tu empresa.


%hr/


%div{:id => 'colaborador'}
  %div{ :class => 'span-6 colaboa'}
    = img "colaboradores/logo-openred.png"

  %div{ :class => 'span-12 last'}

    %p
      = link 'Openred Soluciones', 'http://www.openred.es/'
      es una empresa innovadora integrada por profesionales con gran experiencia, que persigue el alineamiento de los Negocios y la Tecnología, con el objetivo de implementar soluciones de Software Libre y de Mercado de una forma PROFESIONAL para asegurar el éxito de nuestros clientes.


%hr/

%div{:id => 'colaborador'}
  %div{ :class => 'span-6 colaboa'}
    = img "colaboradores/logo-sunseeds.png"

  %div{ :class => 'span-12 last'}
    %p
      = link 'Sun & Seeds Solutions', 'http://www.sunandseeds.com/'
      es una empresa de capital español, nacida en el año 2005, dedicada a SIMPLIFICAR la gestión de las tecnologías de la información a través de la VIRTUALIZACIÓN. Sun & Seeds es pionera en la prestación de servicios de virtualización orientados a la mejora de la productividad en el puesto de trabajo.  

%hr/

%div{:id => 'colaborador'}
  %div{ :class => 'span-6 colaboa'}
    = img "colaboradores/logo-rediris.png"

  %div{ :class => 'span-12 last'}
    %p
      = link 'RedIRIS', 'http://www.rediris.es'
      es la red académica y de investigación española y proporciona servicios avanzados de comunicaciones a la comunidad científica y universitaria nacional. Está financiada por el Ministerio de Ciencia e Innovación, e incluida en su mapa de Instalaciones Científico Tecnológicas Singulares. Se hace cargo de su gestión la entidad pública empresarial Red.es, del Ministerio de Industria, Turismo y Comercio.


%hr/

%div{:id => 'colaborador'}
  %div{ :class => 'span-6 colaboa'}
    = img "colaboradores/logo-telefonica.png"

  %div{ :class => 'span-12 last'}
    %p
      = link 'Telefónica i+D', 'http://www.tid.es/'
      es la empresa de innovación del Grupo Telefónica. Creada en 1988, su misión es contribuir a la competitividad y modernidad del Grupo, mediante la innovación tecnológica. Para ello, aplica nuevas ideas, conceptos y prácticas, a la vez que desarrolla productos y servicios avanzados.

    %p
      Constituye el primer centro privado de I+D de España por actividad y recursos, y es la primera empresa del continente en participación en proyectos europeos de investigación, en el sector de las TIC (Tecnologías de la Información y la Comunicación).

