%div{ :class => 'span-18 last'}
  %h1 Organización

%div{ :class => 'span-18 last'}
  %h2 Universidad de Murcia
  %h3 Vicerrectorado de Economía e Infraestructuras

%div{ :class => 'span-6'}
  = img "jornadas/conva.jpg"

%div{ :class => 'span-12 last'}

  %p
    La Universidad de Murcia es una universidad de aproximadamente 38.000 estudiantes en Murcia, España. Se encuentra distribuida en tres campus:

  %p
    %ul
      %li La Merced: el campus original en pleno centro de la ciudad
      %li Espinardo: es el campus más grande, al norte del municipio
      %li Campus de Ciencias de la Salud: Situado junto al Hospital Universitario Virgen de la Arrixaca. Actualmente en construcción, pero que ya cuenta con las instalaciones del pabellón docente.

  %p
    Otro campus ya está en funcionamiento en San Javier donde se imparten enseñanzas relacionadas con el deporte.Está previsto un campus en Lorca.

  %p
    Más información:
    %br/
    = link 'http://www.um.es/', 'http://www.um.es'
    %br/
    = link 'Wikipedia - Universidad de Murcia', 'http://es.wikipedia.org/wiki/Universidad_de_Murcia'

// -----------------------------------------------------------------------------

%div{ :class => 'span-18 last'}
  %h2 Área de Tecnologías de la Información y las Comunicaciones Aplicadas

%div{ :class => 'span-6'}
  = img "jornadas/atica.jpg"

%div{ :class => 'span-12 last'}
  %p
    El Área de Tecnologías de la Información y las Comunicaciones Aplicadas (ATICA) de la Universidad de Murcia es el Centro encargado de desarrollar, mantener y gestionar las aplicaciones de carácter general y los recursos informáticos del resto de Unidades y Departamentos de la propia Universidad, tanto en cuanto a software (aplicativos específicos económicos (JUSTO), académicos (SIVA), de personal (GESPER), investigación (GINVEST ), ordenación docente (ORMUZ), y otros varios, así como en hardware (equipos ofimáticos RENOVEs, servidores Red Local, servidores de Datos, mantenimiento de Sistemas), y estructura y servicios de Red (mantenimiento de UNIMURNET, correo electrónico, servidores Web universitarios, Atención Usuarios (DUMBO), etc).

  %p
    Más información:
    %br/
    = link 'http://www.um.es/atica/', 'http://www.um.es/atica'


// -----------------------------------------------------------------------------

// %div{ :class => 'span-18 last'}
//  %h2 KDD Pre-Jornadas

// %div{ :class => 'span-6'}
//  = img "jornadas/kdd.jpg"

// %div{ :class => 'span-12 last'}
//  %p
//    Convocatoria de una quedada que se está organizando para la tarde del Martes 3 con la gente que ha venido para la conferencia.

