%div{ :class => 'span-18 last'}
  %h1 Notas de prensa
  %h3 Días Caldum 2009 // 4 y 5 de Noviembre de 2009
  %h4 Universidad de Murcia - Facultad de Informática

  %p
    A continuación le mostramos de manera actualizada una recopilación de notas de prensa, portales y blogs en los que aparece información relativa a la celebración de los V Días Caldum de la Universidad de Murcia: 

  %h3 Anuncios de las Jornadas

%div{ :class => 'span-6'}
  %p
    %ul
      %li= link 'Europa Press', 'http://www.europapress.es/murcia/innova-00442/noticia-innova-umu-organiza-talleres-ponencias-acercar-software-libre-ciudadanos-20091102175550.html'
      %li= link 'Agenda UM', 'http://www.um.es/actualidad/agenda/ficha.php?id=86211'
      %li= link 'Menéame', 'http://meneame.net/story/dias-caldum-jornadas-software-libre-universidad-murcia'

%div{ :class => 'span-6'}
  %p
    %ul
      %li= link 'OpenRed.es', 'http://www.openred.es/index.php?option=com_content&view=article&id=20&catid=4:artiopen&Itemid=1'
      %li= link 'RedIRIS', 'http://www.rediris.es/anuncios/2009/20091001_1.html.es'
      %li= link 'Morfeo Project' , 'http://www.morfeo-project.org/archives/dias-caldum-2009/lng/es'

%div{ :class => 'span-6 last'}
  %p
    %ul
      %li= link 'Facebook', 'http://www.facebook.com/group.php?gid=137045503878&ref=ts'
      %li= link 'LinkedIn', 'http://www.linkedin.com/groups?gid=2037353&trk=myg_ugrp_ovr'




