%div{ :class => 'span-18 last'}
  %h2 Notas de prensa
  %h3 Días Caldum 2009 // 4 y 5 de Noviembre de 2009
  %h3 Universidad de Murcia - Facultad de Informática

  %p
    A continuación le mostramos de manera actualizada una recopilación de notas de prensa, portales y blogs en los que aparece información relativa a la celebración de los V Días Caldum de la Universidad de Murcia: 

  %h3 Anuncios de las Jornadas

%div{ :class => 'span-6'}
  %p
    %ul
      %li= link 'Barrapunto', '#'
      %li= link 'Menéame', '#'
      %li= link 'Televisión Murciana', '#'
      %li= link '7RM', '#'
      %li= link 'LaFlecha.net', '#'
      %li= link 'Linux Magazine', '#'

%div{ :class => 'span-6'}
  %p
    %ul
      %li= link 'Facebook', 'http://www.facebook.com/group.php?gid=137045503878&ref=ts'
      %li= link 'LinkedIn', 'http://www.linkedin.com/groups?gid=2037353&trk=myg_ugrp_ovr'

%div{ :class => 'span-6 last'}


