%div{ :class => 'span-18'}
  %h1 Ponencias

%div{ :class => 'span-9'}
  %h2 Miércoles 4

  %div{ :class => 'span-1'}
    09.00
  %div{ :class => 'span-8 last'}
    = link 'Apertura oficial Jornadas', 'ponencias/apertura.html'

  %div{ :class => 'span-1'}
    10.00
  %div{ :class => 'span-8 last'}
    = link 'Oficinas de Software Libre en Universidades Españolas', '#'

  %div{ :class => 'span-1'}
    11.00
  %div{ :class => 'span-8 last'}
    = link 'Proyecto Morfeo', 'ponencias/morfeo.html'


  %div{ :class => 'span-1'}
    12.00
  %div{ :class => 'span-8 last'}
    = link 'Protección de datos en Internet', 'ponencias/proteccion_de_datos_en_internet.html'

  %div{ :class => 'span-1'}
    13.00
  %div{ :class => 'span-8 last'}
    = link 'Desarrollo Web con Software Libre', 'ponencias/desarrollo_web_con_software_libre.html'




  %br/

  %div{ :class => 'span-1'}
    16.30
  %div{ :class => 'span-8 last'}
    = link 'OWASP', '#'

  %div{ :class => 'span-1'}
    17.30
  %div{ :class => 'span-8 last'}
    = link 'GIT', '#'

  %div{ :class => 'span-1'}
    18.30
  %div{ :class => 'span-8 last'}
    = link 'CfEngine', '#'

  %div{ :class => 'span-1'}
    19.30
  %div{ :class => 'span-8 last'}
    = link 'Liferay', 'ponencias/liferay.html'


%div{ :class => 'span-9 last'}
  %h2 Jueves 5

  %div{ :class => 'span-1'}
    09.00
  %div{ :class => 'span-8 last'}
    = link 'Introducción a Business Intelligence con Pentaho como solución Open Source', 'ponencias/pentaho.html'

  %div{ :class => 'span-1'}
    10.00
  %div{ :class => 'span-8 last'}
    = link 'Grass SIG', '#'

  %div{ :class => 'span-1'}
    11.00
  %div{ :class => 'span-8 last'}
    %s
      = link 'Grid Computing', '#'


  %div{ :class => 'span-1'}
    12.00
  %div{ :class => 'span-8 last'}
    = link 'opensource @ rediris', 'ponencias/opensource_rediris.html'

  %div{ :class => 'span-1'}
    13.00
  %div{ :class => 'span-8 last'}
    = link 'Simulaciones físicas en 3D con Software Libre (Blender 3D)', 'ponencias/simulaciones_fisicas_blender.html'


  %br/

  %div{ :class => 'span-1'}
    16.30
  %div{ :class => 'span-8 last'}
    = link 'Virtual Desktop Infraestructure con Xen', '#'

  %div{ :class => 'span-1'}
    17.30
  %div{ :class => 'span-8 last'}
    = link 'E-Learning + Software Libre', '#'

  %div{ :class => 'span-1'}
    18.30
  %div{ :class => 'span-8 last'}
    = link 'Mesa redonda', '#'


  %div{ :class => 'span-1'}
    19.30
  %div{ :class => 'span-8 last'}
    = link 'Speed Dating & Recruiting!!!', '/jornadas/eventos.html'

// ======================================================    

%div{ :class => 'span-18 last'}
  %p
  


%div{ :class => 'span-18 last'}
  %h1 Talleres

%div{ :class => 'span-9'}
  %h2 Miércoles 4

  %div{ :class => 'span-3'}
    09.00 - 14.00
    %br/
    16.30 - 19.00
  %div{ :class => 'span-6 last'}
    = link 'Brutalix: Gestión de aulas informáticas', '/taller/brutalix.html'


%div{ :class => 'span-9 last'}
  %h2 Jueves 5

  %div{ :class => 'span-3'}
    09.00 - 14.00
    %br/
    16.30 - 19.00
  %div{ :class => 'span-6 last'}
    = link 'TCOS Project: Thin Client Operating System', '/taller/tcos.html'
